<header class="site-header">
    <a class="site-header-item" href="{% url 'home' %}">Home</a>
    <a class="site-header-item" href="{% url 'study' %}">Study Timetable</a>
    <a class="site-header-item" href="{% url 'exam' %}">Exam Timetable</a>
    <a class="site-header-item" href="{% url 'summary_subject_search' %}">Summary subject search</a>
    <a class="site-header-item" href="{% url 'summary_subject' %}">Amount student subject</a>
    <a class="site-header-right" href="{% url 'aboutus' %}">About Us</a>
    {% if user.is_authenticated %}
        <a class="site-header-item" href="{% url 'login' %}">{{ user.username }}</a>
        <a class="site-header-item" href="{% url 'logout' %}">Log Out</a>    
    {% else %}
        <a class="site-header-item" href="{% url 'login' %}">Log in</a>
        <a class="site-header-item" href="{% url 'register' %}">Register</a>
    {% endif %}
</header>
