{% extends 'generalApp/components/base.html' %}

{% block title %} {{ subject.name }} | {% endblock %}

{% block content %}

<div class="header-section">
    <h1>รายชื่อนักศึกษาที่วางแผนจะลงวิชา {{ subject.name }}</h1>
</div>

<div class="content-section">
    <div class="content-container">
        <br>
        
        <div class="cardd">
            <div class="container-about">
                {% for user in enrollments %}
                <br>
                <a class="button-link">{{ user.username }}</a>
                <br>
                <br>
                {% endfor %}
            </div>
        </div>

        <br>
    </div>
</div>

{% endblock %}