{% extends 'generalApp/components/base.html' %}

{% block title %}ตารางสอบ | {% endblock %}

{% block content %}

<div class="header-section">
    <h1>Exam Timetable</h1>
</div>

{% if user.is_authenticated %}
    <section class="content-section">
        <div class="content-container">
            <h2 class="content-title text-center">Mid-term</h2>
            {% for course in course_m %}
            <div class="card-about">
                <div class="container-about">
                    <h4>{{ course.section.subject_ID.name }}</h4>
                    <p>{{ course.section.subject_ID.mid_term }}</p>
                </div>
            </div>
            <br>     
            {% endfor%}
        </div>
    </section>

    <section class="content-section">
        <div class="content-container">
            <h2 class="content-title text-center">Final</h2>
            {% for course in course_f %}
            <div class="card-about">
                <div class="container-about">
                    <h4>{{ course.section.subject_ID.name }}</h4>
                    <p>{{ course.section.subject_ID.final }}</p>
                </div>
            </div>
            <br>         
            {% endfor%}      
        </div>
    </section>
{% else %}



{% endif %}

{% endblock %}