{% extends 'generalApp/components/base.html' %}

{% block title %}ตั้งค่าตารางเรียน | {% endblock %}

{% block content %}

<div class="header-section">
    <h1>Edit Study Timetable</h1>
</div>

<div class="content-section">
    <div class="content-container">
        <form method="get">
            <input type="search" size="65" name='search-subject' value="{{ qs }}" placeholder="Search">
            <button type="submit">Search</button>
            <br>
        </form>
    
        <br>

        {% for subject in subject %}
        <div class="cardd">
            <div class="container-about">
                <br>
                <a class="button-link" >{{ subject.subject_ID}} {{ subject.name }}</a>
                <br>
                <br>
                
                <form id="add-subject-form" action="{% url 'add_subject' %}" target="dummyframe" method="POST" >
                    <select name="section">
                        {% for section in subject.section_set.all %}
                        <option value="{{ section.sec_num }}">{{ section.sec_num }} {{ section.day }} {{ section.time }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>    
                        {% csrf_token %}
                        <input type="hidden" name="subject_id" value="{{ subject.subject_ID }}">
                        <button type="submit" class="button" name="add_btn">Add</button>
                </form>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}