{% extends 'generalApp/components/base.html' %}

{% block title %}ราชชื่อนักศึกษาที่จะเพิ่มวิชา | {% endblock %}

{% block content %}

<div class="header-section">
    <h1>ราชชื่อนักศึกษาที่จะเพิ่มวิชา</h1>
</div>

<div class="content-section">
    <div class="content-container">
        <form method="get">
        <input type="search" name='search-subject' placeholder="Search">
        <button type="submit">Search</button>
        </form>
    
        <br>

        {% for subject in subject %}
            {% for user_sub in user_subject %}
            <div class="cardd">
                <div class="container-about">
                    <br>
                    <a class="button-link" href="{% url 'verify' subject.id %}">{{ subject.subject_ID}} {{ subject.name }}</a>
                    <h4>{{ user_sub.user_id}} {{ user_sub.section_id }}</hp>
                    <br>
                    <br>
                </div>
            </div>
            <br>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}