{% extends 'generalApp/components/base.html' %}

{% block title %}ราชชื่อนักศึกษาที่จะเพิ่มวิชา | {% endblock %}

{% block content %}

<div class="header-section">
    <h1>ราชชื่อนักศึกษาที่จะเพิ่มวิชา</h1>
</div>

<div class="content-section">
    <div class="content-container">
        <form method="get">
        <input type="search" name='search-subject' placeholder="Search">
        <button type="submit">Search</button>
        </form>
    
        <br>

        {% for subject in subject %}
            <div class="cardd">
                <div class="container-about">
                    
                    
                    <a class="button-link" >{{ subject.subject_ID}} {{ subject.name }}</a>
                    {% for user_sub in user_subject %}
                        {% if user_sub.section.subject_ID.id  == subject.id %}
                        <h6>{{ user_sub.user_id}}</h6>
                        {% endif %}
                    {% endfor %}    
                    <br>
                    <br>
                    
                </div>
            </div>
            <br>
           
        {% endfor %}
    </div>
</div>

{% endblock %}