{% extends 'generalApp/components/base.html' %}

{% block title %}test1 | {% endblock %}

{% block content %}

<div class="header-section">
    <h1>Test1</h1>
    <h5>แสดงรายชื่อนักศึกษาที่วางแผนจะลงรายวิชานั้นๆ</h5>
</div>

<div class="content-section">
    <div class="content-container">
        <form method="get">
            <input type="search" size="65" name='search-subject' value="{{ qs }}" placeholder="Search">
            <button type="submit">Search</button>
            <br>
        </form>
        <br>

        {% for subject in subject %}
        <div class="cardd">
            <div class="container-about">
                <br>
                <a class="button-link" href="{% url 'student' subject.id %}">{{ subject.subject_ID}} {{ subject.name }}</a>
                <br>
                <br>
            </div>
        </div>
        {% endfor %}


    </div>

</div>

{% endblock %}