{% extends 'generalApp/components/base.html' %}

{% block title %}test2 | {% endblock %}

{% block content %}

<div class="header-section">
    <h1>Test2</h1>
    <h5>แสดงวิชาทั้งหมด และแสดงจำนวนนักศึกษาที่ลงเรียนรายวิชานั้นๆ</h5>
</div>

<div class="content-section">
    <div class="content-container">
        {% for subject in subject %}
        <div class="cardd">
            <div class="container-about">
                <br>
                    <a class="button-link" >{{ subject.subject_ID}} {{ subject.name }}</a>
                <br>
                <br>
                {% for num_users, num in num_users.items %}
                    {% if num_users == subject.subject_ID %}
                    <p>จำนวน {{ num }} คน</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>

</div>

{% endblock %}