{% extends 'generalApp/components/base.html' %}

{% block content %}
<section class="home-intro-section">
    <h1>ตัวช่วยในการลงทะเบียนเรียน</h1>
    <h3>เว็บที่จะช่วยให้คุณลงทะเบียนเรียนได้ง่ายขึ้น</h3>
</section>

<section class="content-section">
    <section class="content-container">
        <div class="row-home">
            <div class="column-3">
                <div class="card-home">
                    <h5 class="text-center">Study Timetable</h5>
                    <p class="text-center">ดูตารางเรียนของคุณ</p>
                    <a class="button" href="{% url 'study' %}">View</a>
                </div>
            </div>

            <div class="column-3">
                <div class="card-home">
                    <h5 class="text-center">Exam Timetable</h5>
                    <p class="text-center">ดูตารางสอบของคุณ</p>
                    <a class="button" href="{% url 'exam' %}">View</a>
                </div>
            </div>

            <div class="column-3">
                <div class="card-home">
                    <h5 class="text-center">Check Subject</h5>
                    <p class="text-center">เช็ควิชาที่สามารถลงได้</p>
                    <a class="button" href="{% url 'check' %}">check</a>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
